.input {
  margin-bottom: 15px;
  margin-left: 5px;
}
.save-btn {
  background-color: forestgreen;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.delete-btn {
  background-color: crimson;
  border-radius: 5px;
  color: white;
}
